<header>
  <h1>FitFlow Studio</h1>

  <input type="checkbox" id="nav-toggle" class="nav-toggle-input">
  <label for="nav-toggle" class="hamburger-label" title="Deschide meniul">
    <div class="hamburger-icon">
      <span class="bar bar-1"></span>
      <span class="bar bar-2"></span>
      <span class="bar bar-3"></span>
    </div>
  </label>

  <nav>
    <ul>
      <li>
        <a href="/">
          <i class="fa-solid fa-house"></i>
          <span class="nav-text">Acasă</span>
        </a>
        <ul>
          <li><a href="/despre">Despre noi</a></li>
          <li><a href="#evenimente">Evenimente</a></li>
          <li><a href="#instructori">Instructori</a></li>
          <li><a href="#galerie">Galerie</a></li>
        </ul>
      </li>
      <li>
        <a href="clase.html">
          <i class="fa-solid fa-dumbbell"></i>
          <span class="nav-text">Clase</span>
        </a>
      </li>
      <li>
        <a href="abonamente.html">
          <i class="fa-solid fa-credit-card"></i>
          <span class="nav-text">Abonamente</span>
        </a>
      </li>
      <li>
        <a href="galerii.html">
          <i class="fa-solid fa-images"></i>
          <span class="nav-text">Galerii</span>
        </a>
        <ul>
          <li><a href="galerie-statica.html">Galerie statică</a></li>
          <li><a href="galerie-dinamica.html">Galerie dinamică</a></li>
        </ul>
      </li>
      <li>
        <a href="echipa.html">
          <i class="fa-solid fa-users"></i>
          <span class="nav-text">Echipă</span>
        </a>
      </li>
      <li>
        <a href="contact.html">
          <i class="fa-solid fa-envelope"></i>
          <span class="nav-text">Contact</span>
        </a>
      </li>
    </ul>
  </nav>
</header>